[submodule "third/libuv"]
	path = third/libuv
	url = https://github.com/libuv/libuv
[submodule "third/libevent"]
	path = third/libevent
	url = https://github.com/libevent/libevent
[submodule "third/Detours"]
	path = third/Detours
	url = https://github.com/microsoft/Detours
[submodule "third/googletest"]
	path = third/googletest
	url = https://github.com/google/googletest
